/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
nav h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 87px;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 30px;
}
.fa-arrow-right{
    padding-left: 10px;
}
/* banner */
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
}
.banner-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 582px;
    margin-right: 133px;
}
.banner-txt h2{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
}
.banner-txt p{
    font-size: 16px;
    width: 505px;
    margin-bottom: 16px;
}
.primary-btn{
    outline: 0;
    border: 0;
    font-size: 16px;
    color: #fff;
    background: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.primary-btn:hover{
transform: scale(1.5);
}
.banner-image{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 440px;
}
/* products style  */
.product-section h2{
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.product{
    width: 329px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
}
.thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnail img{
    width: 300px;
    object-fit: cover;
}
.product-name{
    font-size: 28px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 6px;
    color: #18191F;
}
.price{
    font-size: 24px;
    font-weight: 400;
}
.product-rating{
    display: flex;
    margin-top: 11px;
}
.product-rating .filled{
    color: #FB8200;
}
.product-rating .half-filled{
    color: #FB8200;
}
.rating{
    color: #787885;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 700;
}
.summery{
    font-size: 14px ;
    font-weight: 700;
    letter-spacing: 0.018em;
    color: #787885;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #0A0826;
    height: 239px;
}
footer h3{
    font-size: 24px;
}
footer p{
    color: #D9DBE1;
    font-size: 16px;
}
.social-icon .fab{
    padding: 20px;
    color: #fff;
    font-size: 22px;
}