/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    /* overflow-y: hidden; */
}
nav h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 87px;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 30px;
}
.fa-arrow-right{
    padding-left: 10px;
}
/* banner */
.banner{
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    margin-bottom: 100px;
    /* flex-wrap: wrap; */
}
.banner-txt{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* width: 582px; */
    margin-right: 133px;
}
.banner-txt h2{
    font-size: 47px;
    font-weight: 700;
    color: #3A3A3A;
}
.banner-txt p{
    font-size: 13px;
    /* width: 505px; */
    margin-bottom: 16px;
}
.primary-btn{
    outline: 0;
    border: 0;
    font-size: 16px;
    color: #fff;
    background: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.primary-btn:hover{
transform: scale(1.5);
}
.banner-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:center;
    /* width: 440px; */
    animation: spin  10s linear infinite;
    transition: .5s ease-in-out;
}

@keyframes spin {
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}
.banner-image img{
    width: 100%;
}

/* products style  */
.product-header{
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.product{
    width: 329px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
}
.thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnail img{
    width: 300px;
    object-fit: cover;
}
.product-name{
    font-size: 28px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 6px;
    color: #18191F;
}
.price{
    font-size: 24px;
    font-weight: 400;
}
.product-rating{
    display: flex;
    margin-top: 11px;
}
.product-rating .filled{
    color: #FB8200;
}
.product-rating .half-filled{
    color: #FB8200;
}
.rating{
    color: #787885;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 700;
}
.summery{
    font-size: 14px ;
    font-weight: 700;
    letter-spacing: 0.018em;
    color: #787885;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    margin: 50px 20px;
}
.see-more a{
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
}
/* Feature product  */
.feture-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content:center;
    align-items: flex-end;
    justify-items: center;
}
.top-products h2, .new-arrival h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 36x;
}
.top-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    height: 450px;
}
.new-arrival{
    height: 513px;
}

.new-arrival-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.top-img img{
    width: 100%;
}
.new-img img{
    width: 200px;
    height: 100px;
    object-fit: cover;
}
.discount{
    display: flex;
}
.regular-price{
    text-decoration: line-through;
    margin-right: 20px;
}
.discount-price{
 color: #E02C6D;
}
.buy-now-btn{
    outline: 0;
    border: 0;
    font-size: 16px;
    color: #fff;
    background: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    cursor: pointer;
}
.top-product, .new-arrival-product{
    background-color: #ffffff;
color: #000000;
margin: 0 auto;
padding: 10px;
text-align: left;
box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
.new-arrival-product{
    margin-top: 20px;
}
.new-arrival-product .discount{
    text-align: center;
    justify-content: center;
}
/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #0A0826;
    height: 239px;
}
footer h3{
    font-size: 24px;
}
footer p{
    color: #D9DBE1;
    font-size: 16px;
}
.social-icon .fab{
    padding: 20px;
    color: #fff;
    font-size: 22px;
}


/* media resoponsive website start  */
/* Mobile devices */
@media (max-width:688px) {
    .header{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner{
       flex-direction: column;
    }
    .banner-image{
        order: 1;
    }
     .banner-txt{
        order: 2;
        margin-right: 0;
     }
     .banner-txt h2{
         font-size: 33px;
         text-align: center;
         margin-bottom: 20px;
     }
     .banner-txt p{
         text-align: center;
     }
    
    .products{
        grid-template-columns: repeat(1, 1fr);
    }
    .feture-products{
        grid-template-columns: repeat(1, 1fr);
    }
    html,body{
        overflow-x: hidden;
    }
}

/* Tablet view  */
@media (min-width:669px) and (max-width:992px) {
    .banner{
        flex-direction: column;
    }
    .banner-image{
        order: 1;
        margin-bottom: 15px;
    }
     .banner-txt{
        order: 2;
        margin-right: 0;
     }
     .banner-txt h2{
        text-align: center;
        margin-bottom: 20px;
    }
    .banner-txt p{
        text-align: center;
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
    html,body{
        overflow-x: hidden;
    }
}